[2015-05-19 19:44] zoomclub opened #2 "Social Integrations"
Thanks for a great UI component. As a next step I see the need to support custom backend and popular social networks, for direct posting to and notification from them directly inside a React app. Are there any React integrations with Twitter or Facebook available that you might know of?

[2015-05-19 21:53] igorprado commented on #2
Thanks, @zoomclub!

What you mean by 'support custom backend'? Also, I didn't get 'support popular social networks'. Could you be more specific?

[2015-05-19 23:03] zoomclub commented on #2
Hi, your solution made me think about using social networks from inside a React app in general. Lets say an app is very collaborative and viral in nature, then part of what facilitates that would be hooking into social platforms like facebook and twitter.

The way I envision it working is to have a offcanvas area with a component where a message can be created and posted to the specific social net

[2015-05-20 03:15] igorprado commented on #2
Well, I believe that is not part of the notification workflow. You can use this component to show whatever you want, but need to keep in mind it's a notification, so it expects the basics: a title, a message and all other options that is available. If you will integrate with flux, or angular, or whatever you will use, you can add the socials integrations as you want and use this component as notif

[2015-05-20 13:46] #2 closed

[2015-05-20 14:08] zoomclub commented on #2
Thanks for your consideration and taking a stand, I'll keep looking then.

[2015-05-28 06:39] mewben opened #4 "[Feature Request] Html tags inside message."

[2015-06-01 23:09] #4 closed

[2015-06-01 23:13] igorprado commented on #4
To meet React security concerns about innerHTML, you have to explicitly set `alowHTML` prop to `true` when creating the component to accept HTML in messages:

[code]

[2015-06-02 02:06] mewben commented on #4
Thank you very much.. That was very quick. Cheers!

[2015-06-29 15:30] coderdave opened #6 "404 link to styles.js file in readme"
Clicking the "this file" link in the sentence "Refer to this file to see what can you override" under the Overriding (styles) section results in a 404.

https://github.com/igorprado/react-notification-system/blob/develop/dist/styles.js

[2015-07-06 13:11] mbektimirov opened #7 "remove .module-cache from npm"
Your dist folder is polluted with .module-cache directory. Try to add it to `.npm-ignore`.

![2015-07-06 18 08 50](https://cloud.githubusercontent.com/assets/918009/8522733/35be0fce-240a-11e5-99bf-169179429b5f.png)

[2015-07-07 13:35] #6 closed

[2015-07-07 13:35] #7 closed

[2015-07-08 22:34] mattdeboard opened #8 "Wrong version of React?"
When I call `addNotification`, I get an error that says `React.findDOMNode is not a function`. So I added a debugger line in notification-item.js and checked out `React.version`. It reported as `"12.2"` which is not the version I have installed via NPM. `findDOMNode` was introduced in React 13.0. Is this a problem in your package definition?

[2015-07-08 22:36] mattdeboard commented on #8
I looked, it doesn't appear this package does any installing of an additional React. Weird.

[2015-07-08 22:37] #8 closed

[2015-07-09 12:46] igorprado commented on #8
Hi @mattdeboard was you able to solve it? I had some issues with other packages and that's why I didn't even put the React as peerDependency. I was having some problems with multiple versions of React in my application, so please try `npm dedupe` and see if it helps.

[2015-07-14 11:47] jcalfee opened #9 "Feature Request: shared references"
Is it possible to add a feature for a shared reference to the notification system?  Perhaps we could register this in the root application layer:

`<NotificationSystem shared="app" />`

Each time it were rendered, it would store its reactjs ref in a simple object in shared_notices.js:
[code]

The idea is to encourage component nesting.  Creating good modular components often means there will be ma

[2015-07-14 11:55] jcalfee commented on #9
To clarify: The issue we are having is that we have to pass the root NotificationSystem component's ref to every child that needs to use it.  Any nested component under those children also need to have the ref specified as wel.  If at any point in the tree, the ref was left off, the notification system will be unavailable.  It is a global notify so this should not be necessary.

[2015-07-14 12:31] igorprado commented on #9
Hi @jcalfee. Are you using React with any Flux implementation?

If so, I'm using this component with Flux and this is what I did:

I created a notification store (and notification action) and created this component on a top level element on my HTML. On mounting, I add a listener to the notification store. After that, all I need is import my notification action where I want to raise the notificatio

[2015-07-14 12:58] jcalfee commented on #9
Good news, we are using flux... Could you easily copy/paste each relevant component?  That will save us a lot of time.  Thank you!

[2015-07-14 13:05] jcalfee commented on #9
Correction, we are using Alt

[2015-07-14 14:41] igorprado commented on #9
Well, I don't know exactly how Alt works. The flow from Facebook Flux is almost the same, but they have sightly differences from methods, how to register stores and actions. I'll try to implement this using flux implementations like Alt or Marty.

For now, I think it would be something like this:

### Actions
[code]

### Store
[code]

### View
[code]

As I said, I never used Alt and I'm not famili

[2015-07-14 21:45] jcalfee commented on #9
I'm still working with it... The issue I'm having is that `componentDidMount() { this.refs.notificationSystem == null`.  The reason is probably due to our render method.  When the app first renders it is loading, then it re-renders showing your NotificationSystem.  The componentDidMount method does not run again, it runs only once.
[code]

[2015-07-14 22:01] jcalfee commented on #9
wait, sorry .. I was testing it wrong by calling the notification too early.. stand by.

[2015-07-14 22:14] jcalfee commented on #9
I'm getting closer, must take a break though.

Is there a better way to get a reference to this.refs.notificationSystem?  The componentDidMount function does not re-execute when render is re-called (the state changes).  In this way the reference is lost.  In our case, we do not even add the NotificationSystem until after some API calls complete so we never see a reference to the reference to `<Not

[2015-07-14 22:51] igorprado commented on #9
Well, it shouldn't loose the reference. Please paste here your code..

[2015-07-14 23:32] jcalfee commented on #9
It starts out loading then changes after the API calls finish:
[code]

[2015-07-14 23:42] jcalfee commented on #9
I could change the loading indicator to support child elements once loaded.  It is our own component.

[2015-07-14 23:46] jcalfee commented on #9
Sorry, I did not think it was relevant so I deleted it.. Your solution if far more elegant!  Thank you!  I'll post the changes I make to get it to work after I test it.

[2015-07-15 01:49] igorprado commented on #9
This is not a issue related with this component so I'm closing this issue.

[2015-07-15 01:49] #9 closed

[2015-07-15 01:59] jcalfee commented on #9
## View
[code]
## Store
[code]
## Action
[code]

[2015-07-17 14:32] jcalfee opened #10 "Feature Request: Keep notice viewable onMouseUp when text selected"
One one clicks on the on the notification message (anywhere) it disappears.  It is a good feature so ... But If the user needs to copy text they will drag making a selection then release the mouse.  It would be good if the notification did not disappear before the Ctrl+C copy can take place.  If you want to preserve the click to remove feature it may be possible to detect if there is a selection i

[2015-07-21 18:01] igorprado commented on #10
I believe that add more events to detect selection, copy/paste or mouse events would bloat the code.
A simple change would be add another property, something called `dismissOnClick` to `false`, so the notification would be only dismissed if user click on the `X` icon. I'll take a look into this when I get a change...

[2015-07-23 13:11] SrSandeepKumar opened #11 "Uncaught TypeError: Cannot read property 'firstChild' of undefined"
I am trying add `react-notification-system` into ,my work and started to encounter this error.
I cross checked for difference in `react` library in project, all i made use was `0.13.3`.
what i am doing is,
`notification.js`
[code]
`MainComponent.js`

[code]

When i tried to check this, i got
[code]

[code]
after which i got this error
Where am i going wrong
how can i rectify the issue?

[2015-07-23 14:04] igorprado commented on #11
Your `NotificationPartial` filename is `NotificationPartial.js` or `notification.js`?

I'm asking this because the first block you declare as `notification.js`, and in the second block, `MainComponent`, you are requiring like this:

[code]

If your file is `notification.js` and it's on the same path you should do something like this:

[code]

[2015-07-23 18:56] SrSandeepKumar commented on #11
Thanks for fast reply.
I checked, thats not the issue, i will create a repo with new code and get back soon

[2015-08-03 14:16] igorprado commented on #11
As the content of this issue do not demonstrate clearly that the problem is related to this component, I'll close this topic. Please feel free to update on this if you have any news.

[2015-08-03 14:42] igorprado commented on #11
The error available to me was different from the the one described...

To make your code example work, I just added `var React = require('react');` to `mainComponent.js`. It was missing it..

[2015-08-03 14:42] #11 closed

[2015-08-06 20:10] ppershing opened #12 "Feature requst: Add ability to cancel previous notifications programatically"
Sometimes it is useful to show in-progress operation by a notification (e.g., "Saving...") and it would be nice to have the ability to dismiss the notification from the code upon the completion of the request (usually some ajax with unpredictable time so autodismiss timeout is useless)

As for the API, one option would be for `addNotification` to return an opaque handle (actually, looking at code,

[2015-09-09 19:30] MohsinTariq10 opened #14 "Meteor Package"
Can anyone package it for meteor? As there is no notification system package for meteor-react at atmospherejs.

[2015-09-15 08:21] ionofzion opened #16 "Multiple Actions?"
Is it possible to add more than one action button to a notification? eg. On a notification that confirms deletion of an item: "Are you sure you want to delete this item? action 1: YES / action 2: NO".

It doesn't look like this is currently possible, unless I'm missing something?

Thanks

[2015-09-15 15:13] igorprado commented on #16
Yes, you are right, it's not possible. But, we have to keep the main purpose of a notification. In the example that you gave, you want to use a notification item as a confirmation modal, and the main idea of a notification would be inform if the deletion was successfully made.

[2015-09-15 17:26] ionofzion commented on #16
That makes sense. I'm using the notification system in an app I'm building and it's working very well. With the option of manually dismissing notifications I figured it would be a good place for confirmation actions as well. I'll have to make another plan for that. Thanks anyway for the excellent component.

[2015-09-15 17:26] #16 closed

[2015-09-15 23:37] igorprado commented on #16
Thanks for the feedback @ionofzion.

[2015-09-23 01:31] igorprado commented on #14
Sorry the delay @MohsinTariq10, but I have no experience with Meteor. I'll try to search about how to pack this, but PR's are welcome!

[2015-10-01 11:27] Diokuz commented on #12
+1

[2015-10-01 16:53] #12 closed

[2015-10-01 16:55] igorprado commented on #12
@ppershing and @Diokuz see if this works for you.

`addNotification()` returns the notification object and you can remove with `removeNotification(notification)`.

[2015-10-01 20:37] ppershing commented on #12
Works perfectly, thanks!

[2015-10-08 14:04] kimmobrunfeldt opened #18 "Upgrade to React 0.14"
I got two warnings after migrating to react@0.14:

[code]
From [this line](https://github.com/igorprado/react-notification-system/blob/c79410d30ec02c0302083ce8022456fef6c48458/src/notification-item.js#L151).

[code]

I'm not sure but I think it is thrown because [this._styles is mutated](https://github.com/igorprado/react-notification-system/blob/c79410d30ec02c0302083ce8022456fef6c48458/src/notifi

[2015-10-08 14:08] igorprado commented on #18
Thanks @kimmobrunfeldt. I tested it here and it works - React team said that they will support `React.render` and other methods that were moved to `ReactDOM` until `0.15.0` - but I got a lot of errors/warnings. I'll fix them on the next release.

[2015-10-08 14:39] igorprado commented on #18
Please use `0.1.16` for React 0.14.

[2015-10-08 14:39] #18 closed

[2015-10-08 15:13] kimmobrunfeldt commented on #18
Woah that was fast. :) Thanks a ton!

[2015-10-08 17:02] 9o opened #19 "Dismissible false should not require an action"
What do you think of making `dismissable: false` usable without setting an action? The reason behind this is, if I wanted to have another part of the application remove the notification, then there is no need for an action.

Thanks!

[2015-10-08 17:38] igorprado commented on #19
@9o yeah, that does make sense now that we have the ability to remove a notification from outside of the component. Thanks for the observation.

[2015-10-08 17:44] 9o commented on #19
If you haven't already, I'll submit a PR tonight. :)

[2015-10-08 17:48] igorprado commented on #19
Please do :)

[2015-10-09 06:51] akohout opened #20 "Semver"
Have you thought about using semver?

We had a problem in a project with this library as dependency, as 0.1.16 updated to React 0.14 and required react-dom. But our project still uses 0.13. The npm update / install automatically installed 0.1.16 as it was set to ```^0.1.14```.

[2015-10-09 09:54] micheletedeschi commented on #20
Same problem i need to use v0.1.15

[2015-10-09 10:54] ppershing commented on #20
Hi, the problem is that react-notification-system does not contain peerDependency on react itself so there is nothing to limit the version of react installed

[2015-10-09 11:17] igorprado commented on #20
Sorry about that, guys. I’ll remove the latest version. About the peerDependency, it will be dropped soon Under NPM and I had (and read) a lot of issues on building components with react as dependency/peer dependency. For now I'll keep these out until I find a better way to explicit depend on then under package.json

[2015-10-09 12:19] #19 closed

[2015-10-09 12:32] igorprado commented on #20
Ok guys:

For **React 0.13**, the latest version is **0.1.17**, which implements few enhancements from pull requests.

For those who wants support for **React 0.14**, use **0.2.0** package.

[2015-10-09 12:32] #20 closed

[2015-10-09 12:35] akohout commented on #20
Thanks for the fast update!

[2015-10-09 12:37] igorprado commented on #20
@akohout I had projects with React 0.13 too. Needed to fix this ASAP :grinning:

[2015-10-09 13:02] micheletedeschi commented on #20
Thanks!

[2015-10-11 19:57] tristaaan opened #22 "Building example"
I've been looking at #10 and I'm trying to update and rebuild to the example to test but having some problems with `var NotificationSystem = require('react-notification-system');`. I can repoint it to `require('../../dist/notification-system');` but will then complain that there are two copies of react on the page. Is there some browserify trick I'm missing?

[2015-10-11 20:20] igorprado commented on #22
Under the component root folder, run `npm link`. After, inside `example/` folder, run `npm link react-notification-system`. Then try to build the example with `npm run build` or start a dev server with `npm run dev` (all inside the `example/` folder).

[2015-10-11 20:43] tristaaan commented on #22
So:
[code]
Getting a `Cannot find module 'react' from '[...]/react-notification-system/dist'`

[2015-10-11 20:57] igorprado commented on #22
What the result of `ls -la /example/node_modules/` ?

[2015-10-11 21:06] tristaaan commented on #22
[code]
I ran `npm config set prefix ~/.node_modules` so it doesn't take sudo anymore.

`npm install react react-dom -g` makes it work but I don't feel like it's a great solution.

[2015-10-11 21:09] igorprado commented on #22
Please see my last edited comment.

[2015-10-11 21:21] igorprado commented on #22
I'll let this issue open until I find a better way to add react as dependency of this component.

[2015-10-12 17:01] igorprado commented on #22
I'm reopening this issue because I need to improve this flow. So I started moving this to webpack and use react hot reload, for example. I'll close this issue when it's done.

[2015-10-13 04:07] #22 closed

[2015-10-19 11:54] kromit opened #28 "accept message as function to allow JSX"
Notification should accept message as function for HTML instead of plain HTML strings

    this._notificationSystem.addNotification({
      message: () => { return <span><MessageFormat message='translate.me'/></span> )},
      level: 'success'
    });

This would allow usage of JSX within notifications and remove the need for dangerouslySetInnerHTML

[2015-10-19 14:12] igorprado commented on #28
Hi @kromit why a function? Right now the component accepts any element (even React elements) as message value. Just tested it here and you can do something like:

[code]
or just

[code]

without the need to pass `allowHTML` prop to component.

[2015-10-19 15:13] kromit commented on #28
My fault, sorry.  I did not tried this with a simple component. But it still fail with redux connected components however.

[2015-10-19 16:25] igorprado commented on #28
Can you setup a repo with an example?

[2015-10-26 02:17] mikedevita opened #29 "how do you utilize flux based actions to trigger notifications"
It'd be great for a simple demo of how to use redux with this system  and utilizing actions to trigger the notifications. I'm still not sure how to accomplish this.

[2015-10-26 02:46] igorprado commented on #29
I never tried redux, but I used it in a isomorphic boilerplate using Alt. You can see the demo here:

https://isomorphic-react-app.herokuapp.com/notifications

And the repo is here:

https://github.com/igorprado/isomorphic-react-app

See if it helps.

[2015-10-26 03:12] mikedevita commented on #29
Thanks,
I *think* i got it working, just not sure if it conforms to standards or not..

You can see the entire repo at [mikedevita/react-auth-boilerplate](https://github.com/mikedevita/react-auth-boilerplate)

The pertinent files are below, I might change the code up more to have different actions for various types of notifications. Not sure yet. OR maybe leave it as more of a general... "EMIT_NOT

[2015-10-26 03:12] #29 closed

[2015-10-26 20:08] mikedevita commented on #29
Alright I have a question for you @igorprado how could I go about ensuring a notification is emitted before dispatching?

The problem with the below code is `dispatch()` doesn't wait for  the `addNotification()` to complete before it dispatches.. Any ideas?

[code]

[2015-10-27 00:14] igorprado commented on #29
I really don't know.. LOL.. Is this code updated on the repo that you shared here?

[2015-10-27 03:17] mikedevita commented on #29
Yeah master is often broken lol

Sent from my iPhone

[2015-11-11 09:04] flipace commented on #28
This works fine for us.

[2015-11-12 12:58] igorprado commented on #28
Thanks for the tip, @flipace! Closing this issue.

[2015-11-12 12:58] #28 closed

[2015-11-16 23:44] 9mm commented on #29
Is there an easier way to think about this? I'm trying to wrap my head around how to add this to a simple flux app and all the things I read are so complicated.

I find it hard because flux seems to be use to load data, not call functions. So I'm not quite sure how I make the transition to... -> trigger action -> call function `notificationSystem.addNotification`

[2015-11-17 00:27] igorprado commented on #29
@9mm I'll try to explain how I achieve this in my Flux apps (I already used it on a pure flux and using alt). I'll use the alt examples, but you can use the same approach with others libraries. I omitted code to make this easier to read.

**React component that will trigger the notification:**
[code]

**Notification actions, there is a `.info()` alias to trigger notifications with level `info`**
[

[2015-11-17 01:08] 9mm commented on #29
ahhh that is immensely helpful. Thank you so much!

[2015-11-18 21:14] raybooysen opened #30 "Have notifications powered exclusively through props"
It would be a nice feature to have that features could be controlled via props exclusively.  I.e. the notification component takes a set of props that details the notifications that should be shown (keyed as well).  This would allow for the control of the notifications via something upstream (like Flux) of the JSX component.

[2015-11-19 09:30] sudhakar opened #31 "Overriding Wrapper styles doesnt seem to work"
[code]

[2015-11-19 11:33] igorprado commented on #30
@raybooysen Could you provide an example of usage? I didn't use `props` to pass notification objects to this component because it has it own system of validation and control of the notifications (control duplicated IDs, missing params, timeouts and animations).

[2015-11-20 19:28] #31 closed

[2015-11-21 11:19] raybooysen commented on #30
I completely understand why you've done it the way you have, it makes sense.

What our use case was to avoid having to use a ref to add a notification when a new notification comes in.  It would be nice to just give you the set of notifications we want to show, you could then detect the ones you're already showing and de-dupe.  We already use the removal callback to remove from our model, however,

[2016-01-14 07:38] hank7444 opened #33 "Have any way can edit notification message after norification showed?"
as the title, thx!

[2016-01-14 15:46] igorprado commented on #33
With the current API, no.

Can you provide a scenario for this?

[2016-01-22 04:00] hank7444 commented on #33
I use notification for showing loading status,
for example, if socket is disconnected, I will reconnect after 30 seconds,
I would like to keep notification and countdown at waiting seconds.

![image](https://cloud.githubusercontent.com/assets/4727090/12502039/73e14874-c0ff-11e5-849a-8dfbde9ec763.png)

[2016-01-23 12:14] raybooysen opened #34 "Integration with Applications is hard with an existing set of CSS"
Thanks for a very useful component.

We are wanting to integrate this into a large application that already has a large amount of CSS using LESS. Our LESS files will have variables that define common colours for backgrounds and such.

This makes it hard to use react-notification-system, as from a JSX component I'd have to code in the same colours that are in our LESS files and override what I can

[2016-01-23 12:17] raybooysen commented on #30
I think this would also help out with #33.  If props were used, the user could just change the message in the notification and it would re-render.

[2016-01-25 17:59] igorprado commented on #30
@raybooysen thanks, I noticed that. I'll take a look and make some tests here.

[2016-01-25 21:55] raybooysen commented on #34
I've reverse-engineered the JS CSS into a single LESS file.  More than happy to integrate this as a PR where as part of the build, we output plain CSS.  This gives the user the option to use either the styles as per the original intent or an external CSS they can copy and completely modify

This does mean you have to keep the two in sync, but in my opinion warrants the effort.

[2016-01-26 01:28] igorprado commented on #34
Sure. At the beginning the idea was provide a plug-and-play plugin with a handcrafted style and set of colors for each type of notification. That was my main goal and I think that I achieved it. Later on it crossed my mind that would be useful a SASS (and/or a LESS) version (and a plain CSS). As you said, it's an extra effort to keep on sync, but it will be a small set of styles and minor changes

[2016-01-26 16:20] ccsandrew opened #35 "if dismissible: true ... can we prevent action callback from dismissing notification?"
Is there currently a way I can have an action button on a notification that does not dismiss the notification?  In my user story, I want to click on the action button and bring up a dialog with info.  In this case, if the user intended to dismiss the notification, they could click anywhere else on it besides the action button.

[2016-02-05 00:07] Morriz opened #37 "allow setting component/html/icon for close action"
Just a char 'x' does not cut it...

[2016-02-05 00:17] timothyallan opened #38 "Multiple buttons"
Is it possible to replicate a confirmation notification using an array of button/callbacks? i.e. "Are you sure?" with Yes/No buttons?

[2016-02-05 12:31] igorprado commented on #38
It's not possible. As I said on another issue, my main goal was keep it simple and provide the basics of a notification. I'll keep it here and see if it's a need for others too.

And, as always, it's an open source project. PRs are welcome.

[2016-03-04 16:35] Miw0 commented on #34
+1 facing the same problem as the author of this issue.

@raybooysen could you provide a download link for the less/sass/css file maybe?

[2016-03-04 17:14] raybooysen commented on #34
I haven't had time yet unfortunately.  It is on the TODO list.

On 4 March 2016 at 16:36, Michael Worm <notifications@github.com> wrote:

[2016-03-04 17:59] Miw0 commented on #34
@raybooysen @igorprado I am currently working on porting the styles into a Sass file. I will open a new pull request as far as I am finished but having a LESS version would be nice too :)

[2016-03-24 16:49] ariroseonline opened #41 "Specify default colors"
It would be nice to be able to override the defaultColors object in styles.js, so one doesn't have to change the colors of the borders, background, text color, etc individually.

[2016-04-12 00:29] dearrrfish opened #43 "Extend time left for same uid"
Besides preventing notification with same uid shown, it would be better there have an option to extend existing notification's remaining time with same uid.

eg.
trigger Notification A with uid='notify-a'
 -> A shows, timeLeft = 5s
delay(2s)
trigger Notification A-clone with uid='notify-a'
-> A.timeLeft = 5s-2s+5s

[2016-04-13 19:49] igorprado commented on #43
In other words, do you want to extend the time of a known and existing notification, right?

Maybe something like `extendNotification(uid, time)`?

[2016-04-14 21:42] dearrrfish commented on #43
Exactly.

[2016-04-17 09:51] MomchilGorchev commented on #30
I think more or less im trying to achieve something similar. I'm working on a React+Redux application and ultimately i want to have the Notification System attached to a high-level component and i want to be able to dispatch "ADD_NOTIFICATION" action from any other component. Right now i have the following:
- In my component file:
[code]
Then I also have a actions that are getting the dispatch and

[2016-04-18 15:56] igorprado commented on #30
@MomchilGorchev try to move this:

[code]

from `render()` to `componentWillReceiveProps()`.

[2016-04-19 07:37] MomchilGorchev commented on #30
@igorprado thanks that worked like a charm, no more warnings! Another problem arise though, maybe not related with this change. I have a notification that is dispatched before a Promise is being sent, e.g.
[code]
and then another when the Promise resolves in success or fail. The problem is that now the first of the notifications is being shown with the second one, even though `componentWillReceive

[2016-04-19 17:53] igorprado commented on #30
Can you share a basic project with this setup?

[2016-04-22 21:52] delgermurun opened #44 "Can not change width"
I want to change width to 260px. I tried overriding style, but width is still 320px.

Here is my code snippet. Thank you.
[code]

[2016-05-13 09:30] gor181 commented on #30
I will provide the setup we use with redux. works without issues.

[2016-05-13 09:44] gor181 commented on #30
I'm in rush so I'll just paste it here...

It's based on redux.

**Wrapper component**
`import each from "lodash/each";
import React, {PropTypes} from "react";

import {connect} from 'react-redux';

import {hide} from 'actions/notifications';

import NotifySystem from "react-notification-system";

class Notifications extends React.Component {

  static propTypes = {
    notifications: PropTypes.ar

[2016-05-19 05:44] jitchavan opened #45 "how to handle notifications with complex parent child cms structure"
Hi,

how we can handle notifications with complex cms structure with multilevel(parent->subparent->child) component structure.
and different notifications(add/edit/delete) with single onchange add listener?

[2016-05-22 20:30] DomKM opened #46 "UMD build?"
Your library looks great! Would you be open to providing a UMD build for use in non-Node environments (like via a CDN)?

[2016-05-24 18:52] igorprado commented on #46
Yeah.. PRs are welcome.

[2016-05-24 18:57] igorprado commented on #45
What do you mean by _multilevel(parent->subparent->child) _? React components?

Well, to handle this you can rely on this mixin: https://github.com/TossShinHwa/react-notice (I didn't test it)

Or you use Flux (or other libraries to control you app state) to achieve this. We some examples using Alt here in issues.

[2016-05-28 09:30] chumack opened #47 "Notif and Ajax"
After ajax call i set props to:
[code]

but first i resive notif(and its empty) and than this.props.title, beacuse ajax.

Please help me fix it.

[2016-06-01 14:06] olegafx commented on #44
@delgermurun try to change `NotificationItem.DefaultStyle` instead of `Containers.DefaultStyle`

[2016-06-01 22:46] delgermurun commented on #44
@olegafx tried. Doesn't work. Thank you.

[2016-06-08 14:44] ashokduddukuri opened #48 "closing x becomes ugly without charset"
As discussed [here](https://www.google.co.in/search?sourceid=chrome-psyapi2&ion=1&espv=2&ie=UTF-8&q=%C3%A3%E2%80%94%20instead%20of%20x&oq=%C3%83%E2%80%94&aqs=chrome.1.69i57j0l4.1834j0j1) x becomes ugly.Can be easily solved by adding charset. But I thought better report here.

[2016-06-10 14:53] eddts opened #49 "Disabling styles prevents notifications being removed from the DOM"
Unsure if Ive missed something in the docs but my understanding is that it should still be removing the notifications after the specified timeout, or if the dismiss button is clicked, even with styles disabled.

Not quite sure why the absence of styling would cause this behaviour, but that's what I'm seeing; The classes for animation are updated  but the DOM elements aren't removed when `style={fa

[2016-06-10 17:55] igorprado commented on #49
This component relies on animation to detect when is time to update the internal state and remove from the DOM. If your styles do not handle the `hidden` state with animations, you need to pass the prop `noAnimation={true}` as described in README:

Using this method you have to take care of every style, since containers positions and the animations. To control animations, use the classes notificat

[2016-06-14 07:07] delgermurun commented on #44
It was my mistake.

[2016-06-14 07:07] #44 closed

[2016-06-14 16:26] igorprado commented on #49
@eddts this fixed your issue?

[2016-06-15 08:08] eddts commented on #49
Sorry haven’t had a chance to try it yet. Will let you know :)

[2016-06-16 09:57] eddts commented on #49
Just to update you I did manage to get it working. Unfortunately it doesn’t seem to remove the elements if they’re are actually using CSS animations, only CSS transitions.

Thanks again.

[2016-07-06 00:21] BigPrimeNumbers commented on #38
+1 please.

[2016-07-07 20:22] #49 closed

[2016-07-07 20:23] igorprado commented on #47
@chumack, I couldn't understand what is your problem here. Please be more clear and provide more information about the issue. For now I'm closing it, but feel free to open it to add more information.

[2016-07-07 20:23] #47 closed

[2016-07-07 20:24] igorprado commented on #45
Closing for inactivity.

[2016-07-07 20:24] #45 closed

[2016-07-07 20:29] igorprado commented on #48
Idk if there's a way to solve this in the component (if the charset of the entire page is messed up). So closing for now.

[2016-07-07 20:29] #48 closed

[2016-07-11 19:30] chumack commented on #47
thing is that i was needed to call notif after $.ajax request, but first was called notif.
I did callback and resolved this one.

[2016-07-12 16:51] gravitycode commented on #43
+1
It might be interesting too send the same identifier but to accept changes to the text, type and title for example.

The scenario could be:
uid: 1 -> connecting.... (5 sec)
uid: 1 -> connecting (reset timer)
uid: 1 -> connected

Is there any possibility to make this?

[2016-07-19 04:57] gor181 commented on #38
Would be better to add `children` property which  accepts a ReactElement's so you can stuff in w/e you want.

Example:

[code]

[2016-07-20 00:46] BigPrimeNumbers commented on #9
The code above it great. I have a question though:
What if we have a Store that is handling a callback from a respective Action, and depending on the response from that Action, we need to send an appropriate notification?

I've got my app set up pretty much like the code above, but the listener in the top-level view seems to complain when trying to add the notification from any Store (since the St

[2016-07-27 15:46] gor181 commented on #30
If anyone is interested I have just published https://github.com/gor181/react-notification-system-redux

It just wraps react-notification-system and exposes actions and reducer.

[2016-07-28 06:18] thomasdavis commented on #34
For anyone looking for the less version...

[code]

[2016-07-28 17:33] the-creature opened #52 "example of how to remove notification?"
has anyone be able to remove a notification dynamically. I honestly do not follow what was added on the readme file :/

[2016-07-28 19:32] igorprado commented on #52
[code]

[2016-07-28 19:32] #52 closed

[2016-07-29 23:16] JeremyIglehart commented on #43
I like the idea of updating - this sounds like the right idea @gravitycode

[2016-08-01 09:59] hakunin opened #53 "Add custom class when creating a notification"
Hi,
I want to display a notification with a short sentence and an in-line button in some cases and need to add a conditional class into the notification somehow as I also want to keep the non-inline version.

This could be also nice for implementing custom-level notifications that some advance users might want to make.

[2016-08-01 12:23] tan31989 commented on #14
I feel there is nothing to be packaged for meteor, as I feel, this can be used as a react component and be invoked: https://www.meteor.com/tutorials/react/components

[2016-08-03 23:34] gsabran commented on #14
Yes since Meteor 1.3, you can directly import npm stuff in Meteor (which was not the case back in September)

[2016-08-04 14:17] igorprado commented on #14
thanks @gsabran and @tan31989. I'm closing this.

[2016-08-04 14:17] #14 closed

[2016-08-04 15:07] karimjamal opened #55 "New notifications at the top of the list"
I'm using a position of 'tr' (top right) for the notification list. As new notifications come in, they are added to the bottom of the list.

What would be useful is an option so that new notifications would be added to the top of the list and the other notifications would be shifted down. Is that currently possible or in the works?

[2016-08-04 17:00] igorprado commented on #55
Right now it's not possible due the order of the elements on each container and the css positions.

[2016-08-16 17:28] emilyfeder opened #57 "noAnimation prop does not prevent animation on notification slide in"
I expect the noAnimation option to stop the 'slide-in' animation as well. Currently when using the noAnimation option, it only prevents the 'slide-up' animation on dismiss.

I am using react-notification-system version 2.7 with react version 15.1.

[2016-08-23 07:26] swellmar opened #58 "Possible to just trigger one notification at a time?"
I wonder if its possible to make sure make sure the previous notification are closed/removed before its possible to add/popup a new one? So you dont have like 10 notifications up at the same time?

[2016-08-23 23:35] abhishiv commented on #38
I second @gor181, or a custom renderer function that could be passed as props.

That simple change would make this library immensely flexible.

[2016-08-25 08:53] geminiyellow commented on #38
+1 need multi button

@igorprado

[2016-08-25 16:39] igorprado commented on #38
Hey guys, I appreciate all the comments and suggestions here but recently I moved to another country and I'm running out of time lately. I'll try to accomplish this changes but I cannot guarantee.

[2016-08-25 18:05] bmathews opened #59 "0.2.8 broken"
https://npmcdn.com/react-notification-system@0.2.8

looks like you're missing some dist files

[2016-08-25 18:31] igorprado commented on #59
My npm prepublish script messed up. Removed `0.2.8` and publish `0.2.9`.

[2016-08-25 18:31] #59 closed

[2016-08-25 18:34] bmathews commented on #59
thanks!

[2016-08-25 22:06] gor181 commented on #38
Hey @igorprado ,

I have submitted a PR for this one.
Example on how it looks => http://d.pr/i/19TjS# (top left notification)

[2016-08-25 22:09] gor181 commented on #58
`NotificationSystem` has `removeNotification` method which accepts the `uid`.
You can wrap the main component in another one and access it via ref, then you would have access to all the notifications in the state of `NotificationSystem`.

You can do a `forEach` on them in `componentWillReciveProps` or similar and remove it before adding new one.

[2016-08-26 04:23] igorprado commented on #38
Thanks @gor181! I'll merge it later today or tomorrow!

[2016-08-29 06:56] the-creature commented on #52
thx! @igorprado

[2016-08-29 13:27] gravitycode commented on #43
I created a bus trough redux store. The idea is create channels based on topics. For each channel in which a notifier subscribe only one message is visualized. This is the more important feature. For example when we create a instance on NotificationSystem suscribed to topic "#websockets" we can send messages with this path and the  NotificationSystem delete old messages and publish the new message

[2016-08-29 18:40] igorprado commented on #38
Closed with #60

[2016-08-29 18:40] #38 closed

[2016-08-29 18:43] igorprado commented on #30
I'm closing this issue for now. Feel free to re-open it with more details.

[2016-08-29 18:43] #30 closed

[2016-08-29 18:44] igorprado commented on #58
@swellmar Please check if @gor181 solution helps you. I'm closing it for now but feel free to re-open it with more info if needed.

[2016-08-29 18:44] #58 closed

[2016-09-06 08:12] shikelong opened #62 "Should uid's type can be Symbol?"
Thanks

[2016-09-06 13:39] ibc commented on #55
Have you considered using flexbox in the notifications container so the order of the children can be modified by CSS?

[2016-09-10 10:12] ibc opened #63 "Why "main": "dist/NotificationSystem.js"?"
I've forked the project. `npm install` has downloaded more than 600MB, this is unacceptable IMHO.

However, I see in `package.json`:

[code]

May I wonder why? A CommonJS module should NOT export a "bundled" file but the module entry point. Of course you can create some `dist/xxxxxx.bundle.js` file so it's usable using bower or a `<script>` tag, but that's not the point of CommonJS modules.

Anyho

[2016-09-10 10:18] ibc commented on #63
OK, just running `npm run build` does generate the dist folder. It seems that running both commands consecutively fail. Probably the first one reports "exit" while still it has not deleted the `dist` folder.

[2016-09-10 10:18] #63 closed

[2016-09-10 17:27] igorprado commented on #63
First, your NPM must be misconfigured cause I just installed all packages from scratch and it has `91,911,770 bytes (91mb)`. Keep in mind that most of this are developer and testing tools.

Also, `npm run build` worked just fine for me.

Using Node v6.0.0 and NPM v3.8.6

[2016-09-12 16:51] ibc commented on #63
I don't think my NPM is misconfigured. BTW I use OSX, and clearly the size "issue" is here:

[code]

Yes. Now clean everything and run `npm run prebuild && npm run build`. You'll see...

[2016-09-12 16:59] igorprado commented on #63
I use OSX too. Which Node and NPM version?

[code]

[2016-09-12 17:12] ibc commented on #63
[code]

Well, NPM is changing a lot in 2.x.y and 3.x.y, including known bugs... so let's assume that's the "problem" :)

[2016-09-13 07:52] geminiyellow opened #64 "how to disable the `dismissible` behavior on click but keep the `x` button ?"
hi @igorprado

i read the docs, it said

but what i want is something like google's inbox 's snackbar. it keep the ('x') but cannot close on click content event.

so, the `dismissible` option i think should be `(both|click|button|none)` is better than `(true|false)`.

[2016-10-06 20:29] syson16 commented on #57
I have to implement your request for my project. I will make a pull request for this.

[2016-10-08 16:46] nkordulla opened #66 "Failure during removing the notification"
My React Version:
react@15.3.1

My ReactNotificationSystem Version:
react-notification-system@0.2.10

This error occurs if the notification is removed:
invariant.js:39 Uncaught Invariant Violation: removeComponentAsRefFrom(...): Only a ReactOwner can have refs. You might be removing a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React

[2016-10-14 02:33] shikelong opened #68 "how to change the defaultStyle when add a notification."
Not pass a style prop to the compoent in render.

Regards.

[2016-10-20 07:08] vivek962 opened #69 "Currently only one action button can be added. Please allow to add more then one action button"
Hi ,

While working on my project I have come across a issue where I want to add multiple action button but unable to do so. So request you to modify the code to allow adding more then one actions.

Thanks
Vivek Pandey

[2016-10-23 21:18] saaqibz opened #71 "Clear all notifications"
Would be nice to have a call that clears all notifications without keeping track of the notification id.

added a PR with that functionality: https://github.com/igorprado/react-notification-system/pull/70

[2016-10-27 00:27] igorprado commented on #69
Hi @vivek962 , thanks for being so polite requesting this... LOL..

Ok, You can use the children property: https://github.com/igorprado/react-notification-system#children

[2016-10-27 00:27] #69 closed

[2016-10-31 09:29] nuclearspike opened #72 "Example in ReadMe should explain how to use context"
Rather than worrying about how to integrate with Redux/Flux/Reflux/etc, I've found the best way to integrate this with a single page app is to use context.

Given this structure in my App container component's render:

[code]
Side note: you can pass a function to ref rather than setting it in a lifecycle method like "componentDidMount" (as shown in the example code).

Then you put this in the App

[2016-11-08 16:06] joyfulelement opened #73 "The live demo (http://igorprado.com/react-notification-system/ ) is down"
It seems that the live demo on http://igorprado.com/react-notification-system/ is down.

![image](https://cloud.githubusercontent.com/assets/5963818/20106482/5af59584-a5a3-11e6-87c0-f1b8d0d1e1bb.png)

[2016-11-15 19:15] jamesvclements commented on #72
@nuclearspike
I like your use of context and I'm currently trying to implement in the same way in a single page app. However, when trying to call addNotification from the child I get this error:
<img width="542" alt="screen shot 2016-11-15 at 2 11 58 pm" src="https://cloud.githubusercontent.com/assets/20052710/20319804/83046024-ab3d-11e6-95b8-84ece797b1f6.png">
I feel like it is an issue with bind

[2016-11-17 20:28] nuclearspike commented on #72
in Landing.js you need to declare that you want that context available to
the component.

static contextTypes = {
    addNotification: T.func.isRequired,
    router: T.object
  }

I'd also move the "<NotificationSystem " line up. Are you trying to do the
addNotification first thing?

The "notifications" field of the component isn't set until that component
is rendered and if other things are rende

[2016-11-23 09:04] EliranShemesh commented on #68
This is bugging me as well, As I want to change the style of notifications on the fly, and it just cannot be done the moment this component render

[2016-11-23 15:32] krzkaczor commented on #73
If someone is interested still https://rawgit.com/igorprado/react-notification-system/master/example/index.html

[2016-12-06 16:13] igorprado commented on #73
Thanks, guys! There's a problem with my domain. It's fixed now.

[2016-12-06 16:13] #73 closed

[2016-12-06 16:22] igorprado commented on #71
closed with #70

[2016-12-06 16:22] #71 closed

[2016-12-07 21:09] philraj opened #74 "Notification not being removed at end of transition"
Hi,

I'm having a very rare bug which is extremely difficult to reproduce, but my best guess at what is happening is that react-notification-system is not detecting `transitionend` in some cases.

We needed to customize the popups a fair bit so we set `style={false}`, set `transition: opacity 0.3s` on `.notification`, and set `opacity: 0` on `.notification-hidden`.

From my understanding of the co

[2016-12-07 21:56] philraj commented on #74
Ah, I found the issue. We were setting `display: none` on the popup notifications wrapper when a certain UI widget was open, and I guess it was preventing the `transitionend` event from firing. All good now.

[2016-12-08 05:05] philraj commented on #74
Come to think of it, it might be a good idea to put a note in the readme about how the autodismiss relies on the `transitionend` event, and that it won't be triggered if the notifications container is set to `display: none;` when the hidden class is applied.

[2016-12-09 11:36] HemalR opened #75 "Would love an ES6 example of using this"
I'm struggling as a noobie to figure this out and translate it to ES6. Does anyone have an example that I can extrapolate out (will be happy to then turn into step by step instructions for the docs page).

Thanks in advance to anyone who can help! Much appreciated.

[2016-12-09 16:24] xiaolin commented on #75
Untested, but this should get you started.
[code]

[2016-12-16 15:00] igorprado commented on #74
thanks @philraj

There's a note about this: https://github.com/igorprado/react-notification-system#important-1

As you pointed, applying `display: none;` to parent elements prevent the animation and we may have other cases that happens too. It's hard to predict every scenario, but I'll update the README and make it more clear about this. Thanks!

[2016-12-16 16:03] philraj commented on #74
Yeah, the `display: none;` detail is a little too specific to our situation. But I think just saying it depends on the `transitionend` event explicitly would help anyone in a similar situation.

Also, there's some kind of typo in the second half of the first sentence of that note:

[2016-12-21 05:34] milsanore opened #76 "Project Architecture / Documentation"
Hi, your library is brilliant. I have been using React for ~4 months and everything was going well until I hit the notifications problem. It seems to raise many issues with threading in JS, etc, and I feel like if you could write a few paragraphs on the fundamentals of your library architecture a lot of mid-range javascript developers could really benefit, myself inlcuded.

In any case, thanks aga

[2016-12-27 18:59] cdaringe opened #77 "fix height being set on notification with varying height content"
# problem statement

- notification div has a pixel spec height.  i have a button in my notification that expands content of the notification.  on expansion, there is overflow

# discussion

- i don't see a property in the config in the readme that sets this height. is it computed? pre-render somehow?

# example

in the below example, i've expanded the "show details" button, and you can see an unh

[2016-12-27 20:27] cdaringe commented on #77
here is the offending line: https://github.com/igorprado/react-notification-system/blob/master/src/NotificationItem.jsx#L193.  it would be great to have that _not_ specify a `height: <some-value>px` k-v pair.

there's another offending line, which were it solved, would probably also mitigate my issue, but leave me vulnerable to the same failure mode.

`render` tests for [overrideStyle](https://git

[2016-12-29 06:25] cdaringe opened #78 "build is not es5 compliant"
# problem statement

- build is not es5 compliant, hence breaks in many bundler build processes without additional preprocessing.
  - for instance, using `create-react-app/react-scripts`, `SyntaxError: Unexpected token punc «,», expected punc «:» [./~/react-notification-system/dist/NotificationItem.js:63,0]`.  essentially, it uses the `{ keyValue }` destructuring shorthand

# solution

- es5 frien

[2016-12-29 06:27] cdaringe commented on #78
nm! false alarm.

[2016-12-29 06:27] #78 closed

[2017-01-12 19:52] nealoke commented on #33
+1 for this, handy when displaying you are fetching data and when success update the same notification

[2017-01-17 09:36] ashwinimnnit opened #80 "support for _addNotification !!"
Can we call _addNotification in render .. I mean on page load

[2017-01-19 16:27] raphael-thibierge commented on #33
Here is bad solution, it's working but this not affect `level` and `autoDismiss`

        // update existing notification if notification is valid (if not, addNotification throw an exception)
        if (this._notificationSystem.addNotification(notification) == false){
            // get the current notifications list
            var notifications = this._notificationSystem.state.notifications;

[2017-01-24 13:40] thamizhchelvan opened #82 "browserHistory.push not working on action callback..."
Hi,
Thanks for the nice component. I am trying to redirect using browserHistory.push after clicking the action callback button, but it's not getting redirected.

[code]

Thanks in advance.
-Thamizhchelvan

[2017-01-25 03:32] shikelong commented on #64
+1.

[2017-01-25 06:58] llcoollasa commented on #75
Hi @xiaolin @HemalR
Thanks for bringing this up.

Issue was in
**if (this._notificationSystem)**

[code]

[2017-01-25 21:29] littleindianboy commented on #75
Thanks @llcoollasa!  But does anyone know how this would work in a react-redux environment?

[2017-02-01 19:03] mikeatlas commented on #35
Since this is a year old, don't mind my +1. Thanks!

[2017-02-03 05:30] HemalR commented on #75
Thanks a lot for that! Will try it out (that project got put on the back-burner till next week, will update here then...)

[2017-02-08 05:27] rotem925 commented on #77
Have the same issue, We have a multi-lang site, and when the user changes the locale, the NotificationItem height does not changed, Tried to override it with height:auto, but its get overridden as described by @cdaringe

[2017-02-14 07:10] OriR opened #83 "Having different animations for enter and exit"
I've had these overrides on the `.notification` class:
[code]

But currently what happens is that the enter animation is "sliding" from the top as well as the exit animation is "sliding" back to the top. I'd like it to "appear" when entering and "slide" when exiting.

My guess is that this is happening due to the `.notification-hidden` class being added when the component is first rendered which m

[2017-02-22 03:45] bnqtoan opened #85 "How can I use it from the outside of component?"
Hello,

I tried to use  react-notification-system in my project with redux, saga.
I wondered how can I show/add a notification in my action (or from a pure function).
I'm new in React, sorry if this is an obvious question.

Waiting for any help.
Thank you so much.

[2017-02-23 02:17] igorprado commented on #85
hey @bnqtoan this can help you:

https://github.com/gor181/react-notification-system-redux

[2017-02-23 02:17] #85 closed

[2017-02-23 03:16] igorprado commented on #80
@ashwinimnnit what do you mean? On component render?

[2017-02-23 06:33] igorprado commented on #75
@littleindianboy see if this helps you:

https://github.com/gor181/react-notification-system-redux

[2017-02-23 06:33] #75 closed

[2017-02-23 15:55] igorprado commented on #76
Hi @milsanore thanks for the words!

Well, this was my first (and only so far) react component. And I made it when I was working on my first react project too. That said, I'm really surprised about how many people are using it, and I'm glad that it's helping on their projects. But still I think that this library has a lot of space for improvements.

I'll try to wrap my head around it since I've be

[2017-02-23 15:55] #76 closed

[2017-03-02 04:21] #83 closed

[2017-03-10 19:58] shwin7 opened #86 "Change the default value of "position" prop"
Hi,

Is there a way to change the default value of position ("tr") which is set by react-notification-system? That way I do not need to pass the position value every time I call addNotification() ?

Thanks!

[2017-03-11 04:09] igorprado commented on #86
You can easily solve this by creating a wrapper function:

[code]

like this you can call the `_addNotification()` method with only:

[code]

[2017-03-11 04:09] #86 closed

[2017-03-11 23:02] tiffon commented on #10
I think a prop like `dismissOnClick` would open the door to having interactive content in the notification and would therefore be super useful.

As an example: ![exception-notification](https://cloud.githubusercontent.com/assets/2304337/23827533/e5b72d18-0683-11e7-8a51-695a5f152078.png)

Come to think of it, one might be able to implement this with `dismissible={false}` and then call `removeNotifi

[2017-03-13 13:42] syndbg commented on #80
@ashwinimnnit Yes, why wouldn't you be able to?

Example code (as in the repo's readme) modified for your case

[code]

[2017-03-13 13:43] syndbg commented on #82
This is not specific to `react-notification-system`.

if the callback is invoked and you can access `browserHistory`, `react-notification-system` is working fine.

From there on it depends on what you want to do.

Whether you're using `react-router`, `react-router-redux` and so on changes a lot in how you can change view routes.

[2017-03-13 21:48] igorprado commented on #80
thanks @syndbg. Closing it for now.

[2017-03-13 21:48] #80 closed

[2017-03-13 21:50] igorprado commented on #82
thanks @syndbg. This component doesn't change at all the way that's your callback is invoked.

[2017-03-13 21:50] #82 closed

[2017-03-13 21:51] igorprado commented on #77
can you guys provide a working example of this?

[2017-03-14 07:42] anilapu opened #88 "Uncaught (in promise) TypeError: Cannot read property 'addNotification' of undefined"
When I try to add notification I got undefined. It was working before now it is failing.
Below is the my code snippet
[code]

[2017-03-14 10:19] syndbg commented on #88
Your error message tells you exactly what happens.

[code]

This means that you try to do `something.addNotification` and `something` is undefined.

Just looking at your code and searching for `addNotification` leads to this line - `this._notificationSystem.addNotification` where you never defined `_notificationSystem` *properly*. You do `    this._notificationSystem = this.refs.notificationSystem

[2017-03-14 10:27] syndbg commented on #33
Sounds reasonable enough. I'll take a look at this task and attempt to provide a PR by the end of the week.

[2017-03-14 13:14] jochenberger commented on #46
See #81

[2017-03-14 17:25] igorprado commented on #88
Exactly, you are missing the `NotificationSystem` component and the ref for it. Thanks for the help @syndbg.

Closing for now, but feel free to reopen it.

[2017-03-14 17:25] #88 closed

[2017-03-14 19:04] #46 closed

[2017-03-17 22:20] shwin7 commented on #86
Sure I can do that, but just wondered if there is any support for changing the default value just by setting a prop.

Anyway, thanks for your response!

[2017-03-26 00:49] offbeatful commented on #35
+1 as well! Thanks!

will be nice to have callback return boolean and dismiss if true.

[2017-03-28 00:46] begincalendar opened #90 "Overridden "Containers.DefaultStyle.width" must be coercible to a number"
Due to [this line](https://github.com/igorprado/react-notification-system/blob/master/src/NotificationContainer.jsx#L20), if you override the container width, you must provide a value that is coercible to the `Number` type (e.g. 4 or "56.56", etc.).

This is problematic for the following reasons:

- The TypeScript definition file does not enforce this restriction, please see [this line](https://gi

[2017-04-05 20:29] saumyaj92 commented on #29
Is it possible to define the position of the notification without using the available positions?

[2017-04-08 01:15] begincalendar commented on #90
@igorprado

bump

[2017-04-11 14:09] albertoperezf opened #92 "Use of @media in DefaultStyle"
Hello, how i can use @media queries in the DefaultStyles section? Or any work-around solution. Thanks in advance.

[2017-04-11 21:18] lorenzosjb opened #93 "Please create the bower.json file"
Can you please, create the bower.json

Thanks

[2017-04-11 23:48] paulailincai opened #94 "React 15.5 Console notification of future breaking changes"
Affected file in the package: NotificationItem.jsx

Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.
Warning: NotificationItem: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.

[2017-04-13 07:47] kromit commented on #94
It seems the whole thing must be rewritten in ES6

[2017-04-14 09:27] jrsakizci commented on #94
Please fix this

[2017-04-17 15:40] blevine opened #96 "Error: getNodeFromInstance: Invalid argument when calling addNotification()"
I'm seeing the error mentioned above when calling addNotification().  Stack trace is below.  I suspect this is coming from NotificationItem.componentDidMount(), but haven't been able to prove that yet. Any ideas?

Environment:
webpack 2.3.3
react 15.5.4
react-dom 15.5.4

[code]

[2017-04-17 15:44] blevine commented on #96
OK.  Just added some debug logging and it does look like this is coming from NotificationItem.componentDidMount's call to findDOMNode().

[2017-04-17 18:01] blevine commented on #96
Never mind.  My error.  Looks like I was using two different versions of React.  One was being loaded globally (due to some legacy code) and the other was being loaded by react-notification-system. Closing this issue.

[2017-04-17 18:01] #96 closed

[2017-04-18 07:23] andreamazz commented on #94
#91 already fixes these issues. Consider pointing your package to that fork while waiting for a merge.

[2017-04-19 14:55] blevine commented on #64
+1

[2017-04-19 15:04] blevine opened #97 "Allow custom levels to be defined"
I'd like to be able to define additional levels (and associated styles) to be added to the default set of levels (success, error, warning, info)

[2017-04-27 06:53] rocer1128 commented on #68
I have also encountered this problem.I can't change style hlep.

[2017-04-28 09:58] anilapu opened #99 "How to replace x with google close icon?"
Need to over ride x symbol.  How can I do it?

[2017-05-03 07:59] junibrosas commented on #68
dang! me too

[2017-05-03 08:14] junibrosas commented on #68
Check your components. I came across with this because I have two notification components. I set the style props of the first one but it did not reflect. Turns out that the notification that pops up on my screen is the second component.

[2017-05-04 11:00] anilapu opened #101 "Automatically notification is dismissed but again shows up"
I have two issues

1.On success notification showed after three seconds it dismissed but when I fill the form again it shows.
2.How can I dismiss notification programatically?

[2017-05-04 11:18] anilapu commented on #52
Where Can I call this _removeNotification?

[2017-05-14 02:44] Matt007 opened #103 "span as root element breaks plugin"
When a `<span>` element is used as the most outer root element/component the plugin won't show any messages and causes the following error message:

This won't work:
`return (<span><NotificationSystem ref="notificationSystem" /></span>)`

This does work:
`return (<div><NotificationSystem ref="notificationSystem" /></div>)`

Took me a few hours to finally figure out why my notifications weren't sho

[2017-05-14 07:24] nlrowe commented on #90
We are also running into an issue with this from a slightly different angle. We wanted to be able to gain control of the notification width through CSS so we could more easily leverage media queries. To do this without turning off inline styles and having to reimplement them in CSS, we are setting Containers.DefaultStyle.width to `inherit` and then setting the width using the `notifications-wrappe

[2017-06-01 13:23] bhishp commented on #72
Is this the recommended way of providing global notifications for the notif-system in a non-flux app? I know that the context system in React is an experimental API and there are warnings against using it but we see libs like Material-ui and router making using of context.

react-notification-system could provide a `<NotificationProvider>` (or similar) Component which handles this out of the box.

[2017-06-03 14:55] hasibsahibzada opened #104 "Switching notification level between success --> error and wise versa"
If we keep the notification non dismissible (autoDismiss = 1) and later change the level from success to error or wise versa, the inline styles does not change for the notification.
As you can see from the screenshot below the classes are changed to notification-error but the style="..." has not been changed it is the styles from the previous level.
<img width="370" alt="screen shot 2017-06-03 at

[2017-06-05 12:46] devarashetty opened #105 "position of notification is not changing"
[code]
and added the above obj to Notification as below

`this._notificationSystem.addNotification(obj)`

But still shows the notification on **tr**

[2017-06-05 13:06] devarashetty commented on #105
Wrong argument `position` but instead gave `postion`

[2017-06-05 13:06] #105 closed

[2017-06-06 22:32] Loewenhardt commented on #92
@albertoperezf I'm using in a project the redux state for my sticky header and render then inline styles depending on the state. Just check the width / height programmatically. I think that's the easiest one.

[2017-06-07 01:30] TylerScottSullivan commented on #66
I'm having this same issue - were you able to find a solution to it?

[2017-06-13 08:54] fmlharrison opened #107 "Can two different NotificationSystem components has different inline styles?"
Hey,

I love this library and I am currently using it for the project I am working on, but I have run into a slight problem. I know you can add styles to override the exciting styles, but when I add some style overrides to one of my 2 NotificationSystem components, these styles are applied to both.

One of the components is used to show notifications on success or failure when saving something to

[2017-06-16 16:04] franckamayou opened #109 "UMD build does not specify a library name"
The current webpack config does not specify a {library: name} for the umd build, thus making the module output pollute the global (window) namespace. Specifying the library name generates the module at the given name.

See
https://webpack.github.io/docs/library-and-externals.html
https://github.com/igorprado/react-notification-system/pull/108

[2017-06-22 13:02] AlejikDem commented on #66
Anyone knows solution for this?

[2017-06-22 15:04] MV88 commented on #16
@ionofzion which solution did you find? i think i'll create a confirmation panel with the yes/no actions needed.

[2017-06-22 15:59] ionofzion commented on #16
@MV88 I ended up implementing 'undo' functionality instead of having the user confirm deletion, so was able to make do with a single action button.

[2017-06-22 19:03] igorprado commented on #16
Since it's possible to pass components to the notification, you can create multiple buttons.

[2017-06-26 14:08] enheit opened #110 "[Firefox 54.0] Crosshair has wrong position inside circle"
Hello, I've notice that crosshair inside circle has wrong position in FF 54 browser. See attached below.

FireFox 54:
![image](https://user-images.githubusercontent.com/8645216/27542866-319d91a2-5a91-11e7-925a-ef6c4b99e436.png)

Chrome:
![image](https://user-images.githubusercontent.com/8645216/27543011-9ef54790-5a91-11e7-90ec-e1a50752eb55.png)

[2017-06-29 14:32] Marc22 opened #111 "Any way to prevent animation for a particular notification?"
I like the notification animation in general, but for a particular usage, several notifications come up in rapid succession and are only readable if animation is turned off for them.  (sliding in animation, specifically).

Is this possible?  Or could it be added easily?

Or.... Could I modify the contents of a currently displayed notification?

thanks....

[2017-06-29 15:49] #111 closed

[2017-06-29 15:49] Marc22 commented on #111
calling editNotification take care of this.

[2017-07-12 19:06] davidworkman9 commented on #107
I also need this.

[2017-07-17 20:43] Marc22 opened #112 "Is there a way to make a notification modal?"
I would like to display an error notification such that the user must dismiss the notification before being able to interact with the page.

Is there an easy to do this?

thank you!

[2017-07-28 09:03] ReverseFlash28 opened #113 "Error using Preact"
![screen shot 2017-07-28 at 5 02 52 pm](https://user-images.githubusercontent.com/8644115/28710467-9e4a27e6-73b6-11e7-987d-09e22f926957.png)
Uncaught TypeError: this.setState is not a function

[2017-08-01 19:22] #74 closed

[2017-08-01 19:23] igorprado commented on #99
Not with the current version.

[2017-08-01 19:23] #99 closed

[2017-08-01 19:25] igorprado commented on #94
Fixed with https://github.com/igorprado/react-notification-system/pull/91

[2017-08-01 19:25] #94 closed

[2017-08-01 19:26] igorprado commented on #101
1. Can you provide an example of that behavior?

2. https://github.com/igorprado/react-notification-system#removenotificationnotification

Feel free to re-open with the example.

[2017-08-01 19:26] #101 closed

[2017-08-01 19:32] #109 closed

[2017-08-01 19:33] igorprado commented on #109
Closed with #108

[2017-08-02 05:48] chanping commented on #66
Do you cope?

[2017-08-09 12:43] rem99 commented on #113
Just add alias for "preact-compat/lib/create-react-class" in webpack config:
[code]

At least it works for me.

[2017-08-09 14:15] graphical-iain opened #114 "Example code throws ESlint Errors."
`<Notifications ref="notifications" style={false} />`

I've fixed the this.refs is deprecated by making the ref a function that defines `this.notificaiton`,  but I have no way of fixing the style is forbidden, since that's the only way to remove all the styles from the component.

[2017-08-10 21:11] #113 closed

[2017-08-13 18:52] thepeted commented on #64
#115

[2017-08-25 11:09] shashikah opened #116 "Only a ReactOwner can have refs"
Hi,
One of our application we are using react-notification-system. When it was a stand alone application all went well. Recently we had to change it as a npm package. We did it. When we use the npm package within a container app... it started to give us an error which says "Only a ReactOwner can have refs". When we dig into the bundle.js to find out the issue, we found that this comes from react-n

[2017-08-30 08:00] DennisKo opened #118 "MobX integration"
What would be the best way to integrate this with MobX?

I dont wanna go the route and passing context to all child components and instead just call an action in MobX. But how do I reference the NotificationSystem Component in MobX to call addNotification() ?

[2017-08-31 06:41] bluepeter commented on #118
I have the exact same question...

[2017-08-31 13:52] bluepeter commented on #118
Okay, I got this working with MobX. Here's what I did...

Setup your MobX store like so...

[code]

Then setup your Component like so...

[code]

And there you go. Now, whenever you inject the store, you can initiate a new notification like `commonStore.setSnackError("I am an error message")`

Hope this helps!

[2017-09-01 11:19] DennisKo commented on #118
Works perfectly. Thank you!

[2017-09-01 11:19] #118 closed

[2017-09-04 14:34] hjaltim8 opened #119 "Know whether notification was closed by user or clearNotifications()"
It would be really nice to be able to distinguish between onRemove() that was called because a user clicked on a notification, and a onRemove() that was called from clearNotifications()

Two possible solutions would be:
1) Add a second parameter to onRemove that would tell who/what is responsible for calling the onRemove (autoDismiss, userClick, clearNotifications)
2) Add a parameter to clearNotif

[2017-09-08 10:15] a-x- opened #121 "Fix <Unknown> displayType"
![screen shot 2017-09-08 at 13 15 33](https://user-images.githubusercontent.com/6201068/30207328-d7165d68-9497-11e7-8445-1a8703b6a887.png)

[2017-09-12 07:35] costagolub commented on #121
@a-x- Could you write more about the issue? How did you get it?

[2017-09-12 08:12] a-x- commented on #121
"react-notification-system": "^0.2.14",

[code]

[2017-09-12 15:30] miketierney commented on #97
I'd like to be able to do this as well; while the default set covers the bases pretty well, having the ability to add a generic style (or simply an additional style) is helpful. For example, I have an implementation where I need to be able to show success, warning, and info as parts of the UX. Additionally, though, I need a "pending" state while I'm waiting for something to process I need to show

[2017-09-14 10:50] yossi-shasho opened #122 "passing `false` to disable styles creates a lint warning"
React warns against passing non-object values to props.
However, this is the way of removing all styles...

[code]

[2017-09-22 00:37] LowryTang commented on #90
Same as me. I want to make this notification has an auto width which is decided screen size. If there is a type check before calculating the marginLeft, it will get rid of this warning.

[2017-09-28 16:32] elvisvoer commented on #66
It seems to be happening because of:

[code]

[2017-09-28 16:52] elvisvoer commented on #66
Did some investigation and it seems that I was running a different version of react in my application than the one used by `react-notification-system`.

Use `npm ls react` to view your react dependencies and update your application accordingly or, if you use webpack, use the solution provided in the stackoverflow link.

[2017-10-01 03:19] amoghpalnitkar opened #123 "Upgrade to React v16"
Any planned upgrade to react v16?

[2017-10-01 04:06] lornatumuhairwe opened #124 "Test a method using react notification system"
I'm using react-notification system in my project however I'm facing an issue while writing tests.
``` TypeError: Cannot read property 'addNotification' of null``` in methods that implement the component.

Here is a snippet of my code:
[code]
This works well. But te tests for the getBucketlistItemsAction fail with the error ``` TypeError: Cannot read property 'addNotification' of null```

Test cas

[2017-10-01 19:21] Dwlad90 commented on #123
+1

[2017-10-02 08:10] lornatumuhairwe commented on #124
Adding

[code]
to my test case resolved the issue.

[2017-10-02 09:30] nthvu90 commented on #123
+1

[2017-10-02 10:29] hjaltim8 commented on #123
+1

[2017-10-05 06:45] zonofthor commented on #123
+1

[2017-10-06 04:15] maurodelazeri commented on #123
+1

[2017-10-10 09:49] webmobiles commented on #123
is not compatible ?

[2017-10-12 19:23] vcardins commented on #123
+1

[2017-10-12 21:01] Beej126 commented on #72
@nuclearspike, thanks for the React Context suggestion !
for anyone coming to this from Visual Studio 2017 react webpack template, i've adapted this to the react-hot-loader AppContainer ...

#### (new file) NotifierAppContainer.tsx
[code]

#### (updated) boot.tsx
[code]

#### usage in AnyComponent.tsx
[code]

[2017-10-13 17:46] djizco commented on #123
It actually seems to work fine for me so far.  I still get a dependency warnings though.  Has anybody actually run into an issue using this with React 16 so far?

[2017-10-13 18:21] vcardins commented on #123
It does work fine, just the annoying warnings :)

[2017-10-16 18:02] BearandYoon commented on #88
Hi
I am facing on same issue.
This is my code snippet.
[code]

[2017-10-16 19:53] hsrobbv commented on #118
For anyone who sees this and is looking for a solution supporting multiple Notifications at once, I modified @bluepeter 's implementation like so (it's in TypeScript, so strip the types if you aren't using it):

The store, which uses an observable  `Map` to store the `Notification`s and remove them automatically (using the `onAdd` and `onRemove` callbacks). I generate unix timestamp `uid`s and tra

[2017-10-18 01:14] mw-ding commented on #123
+ 1

[2017-10-19 21:30] igorprado commented on #123
Closed by #126

🚀  on 0.2.16

[2017-10-19 21:30] #123 closed

[2017-10-20 18:23] #124 closed

[2017-10-23 20:39] suhas92 commented on #121
I am also having the same issue, its working on one component and throwing on another.

[2017-10-31 05:29] dparkar opened #128 "Cannot read property '_notificationSystem' of null"
(new to React)

I am seeing the following error :

Here's how my code looks :

notifier.jsx :

[code]

elsewhere in component foo.jsx :

[code]

Versions :

Thanks for the help !

[2017-10-31 15:26] cmkshaw commented on #128
I'm getting the same error `TypeError: Cannot read property 'addNotification' of null` when trying to structure my notification system as a [higher order component.](https://reactjs.org/docs/higher-order-components.html)

My jsx:

[code]
Is there something I'm missing?

[2017-11-01 13:41] raptox commented on #128
same, cannot get this to work ...

[2017-11-02 06:55] valyke commented on #128
same

[2017-11-02 06:56] valyke commented on #128
have you fixed this?

[2017-11-03 21:58] rahul-desai3 opened #129 "Accessibility support?"
I am using module [react-a11y](https://www.npmjs.com/package/@asaayers/react-a11y) to test my app for accessibility. It is throwing following 2 errors multiple times after I integrated module `react-notification-system` and the notification is shown in the UI:
[code]

I tried to do the following but it didn't help:
[code]

Any pointers?

Note: I am using [react-notification-system-redux](https://w

[2017-11-04 14:06] raptox commented on #128
I used [this repo](https://github.com/gor181/react-notification-system-redux) instead

[2017-11-08 09:23] wardnep commented on #128
same!

[2017-11-12 22:47] evgenyboxer opened #130 "Ability to specify width when showing a notification?"
Hey,

Is it possible to specify width when showing a notification? I'm aware you can override width in the styles, but I'm looking for something dynamic.

Thanks.

[2017-11-14 17:17] stevenmusumeche opened #131 "publish to npm"
I'm receiving the following warning

`"react-notification-system@0.2.15" has incorrect peer dependency "react@0.14.x || ^15.0.0".`

It appears you have already fixed this in package.json, but the change has not been published to npm yet.  Can you publish a new version?

[2017-11-17 22:13] sycu commented on #128
Same here, any update?

[2017-11-20 17:38] igorprado commented on #131
The latest version is `0.2.16`. Try to update it.

[2017-11-20 17:38] #131 closed

[2017-11-23 13:05] m-maksyutin commented on #64
Temporary workaround: set wepback configuration to replace two strings in the react-notification-system/dist/NotificationItem.js file.
Example with using string-replace-webpack-plugin:

[code]
This configuration removes onClick handler from entire notification block and move this handler to the 'x' button.

[2017-11-30 18:40] johnwoolee opened #133 "Instructions for using the UMD module using the script tag?"
In case some people find this useful, I wanted to share this:

[code]

[2017-11-30 18:44] johnwoolee opened #134 "Make it easier to find library? (toastr)"
Thank you for a great library! Just started using it, and like what I see so far.

This is more like a suggestion than an issue: When I was researching which notification system to use, I actually took a little longer than I would've liked to find it. I think it's mostly because I was introduced to these systems through John Papa's toastr library. I don't know if you were inspired at all by his li

[2017-11-30 18:54] #133 closed

[2017-12-01 09:58] heshamelmasry77 commented on #128
it is really annoying people make things and post it and it never works 🈂️

[2017-12-05 04:26] vcardins opened #135 "Possibility of setting an unique ID so it can be easier handled by e2e"

[2017-12-07 05:13] aap82 commented on #118
Here's an alternative that I think is simpler yet quite effective.  (written in CS)

The store:
[code]
and the component

[code]

[2017-12-07 21:03] igorprado commented on #135
It's possible to create the notification with a custom ID:

https://github.com/igorprado/react-notification-system/blob/master/src/NotificationSystem.jsx#L135

[code]

[2017-12-07 21:03] #135 closed

[2017-12-08 18:10] vcardins commented on #135
Hi, I did try your suggestion but it does not really set unique identifier to the markup. The reason I need it is cause I need to test (using nightwatchJs) whether the toast(s) showed up/were added to the DOM.
Please, if you have another suggestion which doesn't require any change in the component API, let me know.
![image](https://user-images.githubusercontent.com/2383329/33778912-9d49b210-dbff-1

[2017-12-10 22:26] a-atalla commented on #128
use `this.refs.notificationSystem` instead of `this._notificationSystem`

[code]

[2017-12-13 15:06] MomchilGorchev commented on #97
Yes, very common use case - show notification with loading/pending state and then success/failure.
Maybe the ability to pass any string for the `level` prop would be very useful. This will allow custom `notification-loading`, etc. elements

[2017-12-23 05:34] rowthan commented on #128
at the time of `componentDidMount(){}`, `this.refs ` is empty.
so you can not get `this.refs.x`.
use `this.refs.notificationSystem` instead of `this._notificationSystem`

[2018-01-24 07:24] chungchi300 opened #136 "Add maximum number of notification shown"
It is good to have option that

[code]

My current simulation of it is
[code]

[2018-01-31 17:03] alveshelio opened #137 "How to use editNotification()"
Hi guys,

I'm sorry to post this here but I've searched everywhere and I can't find a solution.

Here's my situation. I need to pass a countdown to a notification and I don't really know how to do it. My countdown works fine in my component, however, when I send it to the notification, it only sends the value of the countdown at the moment of creating the notification.
I've checked the documentati

[2018-02-10 04:55] gautham20 commented on #128
Tried all the suggested methods didn't work, used [this](https://github.com/fkhadra/react-toastify) instead

[2018-02-13 20:26] rahul-desai3 opened #139 "Prepend new notifications in UI instead of appending"
I have `position` set to `tc` and I see the notifications appending. Is there a way to make it prepend to the list of notifications so the newest notification is always on top?

[2018-02-20 19:18] asapzacy commented on #37
you could make the X `color: transparent` and then put `::after` `content: 'whatever you want'`

[2018-02-22 15:10] igorprado commented on #64
🚀 in 0.2.17

[2018-02-22 15:10] #64 closed

[2018-02-28 08:55] arogachev opened #141 "String refs are considered legacy"
String refs are used at least in the example in README - https://github.com/igorprado/react-notification-system#using.

Taken from official React documentation - https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs

### Legacy API: String Refs

If you worked with React before, you might be familiar with an older API where the `ref` attribute is a string, like `"textInput"`, and th

[2018-02-28 15:28] petrdanecek opened #142 "overlay or overflow tag in item styling"
I'm trying to develop my own CSS styles for this great notification system. I observed that the overlay: 'hidden' tag is added to hide/remove the item. I'm not able to find this as a valid tag.
I think that it should be probably overflow: 'hidden' instead of.
See the last item in the debugger.

![image](https://user-images.githubusercontent.com/29194829/36795818-44c8f994-1ca4-11e8-9b9b-af8854eee3f

[2018-03-01 12:59] petrdanecek commented on #142
it is in NotificationItem.jsx, line 274:

![image](https://user-images.githubusercontent.com/29194829/36845875-a94792cc-1d58-11e8-9d69-b5ae84026b2e.png)

[2018-03-06 04:54] igorprado commented on #139
With the current exposed configuration, no. PR's are welcome.

[2018-03-19 16:29] ramboInTheSky opened #143 "library incompatible with React 16"
Hi,

I have been using the library in my codebase for few years, now I've upgraded to React 16 which incorporates checks for getDefaultProps and react.CreateClass methods prior to their deprecation.

I am in fact seeing:

Warning: getDefaultProps is only used on classic React.createClass definitions. Use a static property named `defaultProps` instead.

in my console, every time my top component ge

[2018-03-22 20:07] dyst5422 commented on #141
#144 should address this

[2018-03-22 20:07] dyst5422 commented on #128
#144 should address this

[2018-03-22 20:08] dyst5422 commented on #116
#144 should address this

[2018-03-23 19:30] alexandresebrao commented on #57
@syson16 didn't work for me.

And I need to stop that animation too! Because I just want to have opacity animation not the one coming from the sides.

[2018-04-03 06:47] geminiyellow commented on #90
same error, i want to use `width: 100%` , but in [here](https://github.com/igorprado/react-notification-system/blob/master/src/NotificationContainer.jsx#L22),

[code]

`NaN` is an invalid value for the marginLeft css style property

[2018-04-04 02:11] geminiyellow commented on #90
@igorprado could you fix this ?

[2018-04-05 18:46] SheikhG1900 commented on #137
I was facing almost same issue. I wanted to update notification when back-end process was done.
edit functionality is not working as expected.
I successfully updated the notification but its `autoDismiss` time was not getting refreshed _(I mean message changed and then disappeared)_
So I finally wrote the extension of `react-notification-system`
It probably serve your purpose. check this link
http

[2018-04-05 19:59] AntonioRecaldeRusso opened #146 "Support for modal notifications"
Sometimes there are notifications that must responded to in order to continue with the user experience.
Is there a way to display a notification that blocks click events fired on the rest of the page, in the same way a modal window does?

[2018-04-11 22:58] igorprado commented on #146
Unfortunately this is not the scope of this component. I would suggest use a library that supports modal for that.

[2018-04-11 22:58] #146 closed

[2018-04-18 17:51] GuiRitter opened #148 "Position in the middle of the screen?"
Hi everyone.

When I glanced at the position options, I was sure it was possible to make notifications appear in the middle of the screen. But, when I went to change the position of the notifications that were in place, I got surprised to see these options missing.

I propose the addition of the **mc (middle center)** option, and maybe **mr (middle right)** and **ml (middle left)** while we're at

[2018-04-19 21:46] burrack opened #149 "Can i contribute to this project?"

[2018-04-20 08:35] syndbg commented on #149
Yes, sure.

Pick an issue and follow https://github.com/igorprado/react-notification-system#contributions

[2018-04-24 03:16] burrack commented on #143
@ramboInTheSky what version do u use ?
what is the exact version of React ?
I tried it with create-react-app, with version `react: "^16.3.2"` and react-notification-system: "^0.2.17", and i didn't see the warning

[2018-04-24 03:48] burrack commented on #149
thanks!

[2018-04-24 03:48] #149 closed

[2018-04-27 12:27] GuiRitter commented on #148
I sort of managed to achieve what I wanted by using
[code]
I don't know why `50%` shows the notification lower than the center of the screen, so I had to play with the value. Still, proper vertical centering would be nice.

[2018-04-27 12:29] GuiRitter opened #150 "Click outside to dismiss?"
I think it would be nice to have the feature to dismiss the notification by clicking anywhere outside of it. Please consider implementing.

[2018-05-17 18:26] sveyret opened #151 "Feature: ability to add a Dismiss all button on container"
Even if we try to create our applications correctly, there could be an unexpected case where the end-user get drowned under tons of notifications. That would be good if the NotificationContainers could optionally have a “dismiss all” button or link as soon as there are more than 1 notification displayed.

[2018-05-29 22:06] bawgz opened #153 "Trouble while testing"

[2018-05-31 10:58] jpsikorra commented on #137
I created at PR to describe at least the `editNotificatioǹ` arguments correctly. See: https://github.com/igorprado/react-notification-system/pull/152

[2018-05-31 11:11] syndbg commented on #137
@alveshelio @SheikhG1900 @jpsikorra Merged #152. Sorry for the wait.

[2018-05-31 11:11] #137 closed

[2018-06-06 08:50] sivcan commented on #148
@GuiRitter - You can set CSS of the container with `top: 50%` and `left: 50%`
along with it, give it a `transform: translate(-50%, -50%)`

Read more about it here: https://css-tricks.com/centering-percentage-widthheight-elements/

[2018-06-06 10:51] GuiRitter commented on #148
That worked, thanks!

[2018-06-18 15:33] AidanFray opened #154 "Newlines in notification messages"
Is there the possibility to add newlines to the message body of the notification? If there isn't, could this be requested as a feature?

[2018-06-18 16:11] syndbg commented on #154
@AidanFray Sorry, I don't get what you mean. You can always use break tags?
![screenshot from 2018-06-18 19-10-58](https://user-images.githubusercontent.com/6031925/41548342-633ed47e-732b-11e8-8a77-43ee5d9785b4.png)

[2018-06-18 16:18] syndbg commented on #148
I think the issue is resolved.

Good to close @GuiRitter ?

[2018-06-18 16:21] syndbg commented on #136
@chungchi300 While this is a good idea, few thing are to be considered.

Setting an upper notification limit is fine.

However if the limit is hit there are few ways to handle this:

* don't add new notifications,
* replace least recent notification with new one.

Perhaps we can consider which one is the best approach to support and what are the use cases (yours is one of them).

[2018-06-18 16:30] GuiRitter commented on #148
I didn't close it in case the feature I mentioned got selected to be implemented but, with @sivcan 's advice, sure, it can be closed.

Thanks all for everything!

[2018-06-18 16:30] #148 closed

[2018-06-20 09:02] AidanFray commented on #154
@syndbg Sorry if I wasn't clear enough, but this answers my question perfectly, thank you.

[2018-06-20 09:02] #154 closed

[2018-06-21 09:48] rickerd commented on #34
Why isn't the pullrequest merged? It's been 2 years.

[2018-06-21 10:42] syndbg commented on #34
@rickerd Cause it's not a pull request to begin with. :) If it was, perhaps review and discussion could start.

[2018-07-23 00:16] techhysahil commented on #143
I tried this with React CRA, it's working but in my app, it's not. It's seems very weird to me. Than i build very small sandbox example to recreate problem. Check the below example, it not working for it.
https://codesandbox.io/s/r08n8wp6kq

Please point out if i am making any stupid mistake around here.  Will really appreciated some  help.

[2018-07-23 01:49] burrack commented on #143
@shashi8shekhar this is an example that is working [https://codesandbox.io/s/74wzlyrrrj](https://codesandbox.io/s/74wzlyrrrj).
I think with React 16 u need to do something like `this.notificationSystem = React.createRef();`

[2018-07-23 01:50] burrack commented on #143
@ramboInTheSky, do u still see an issue ?

[2018-07-23 05:51] techhysahil commented on #143
@burrack , Thanks very much.

[2018-07-23 17:33] shashi8shekhar commented on #143
Thanks @burrack , But still no luck with that!!

[2018-07-23 17:34] burrack commented on #143
@shashi8shekhar could u somehow share your code or try to simulate it code sandbox ?

[2018-07-23 17:43] shashi8shekhar commented on #143
Sure i'll try to simulate it.

[2018-08-09 07:52] danutzcodrescu opened #156 "accesibility of the notifications"
Hello,

I was wondering if it is ok to create a pr for adding a bit of accessibility to the notifications? In my opinion adding role="alert" to the notification item would give the opportunity to screen readers to pick up each time when a notification is created.

Is a plan to support this feature or would you be ok if I try to implement it myself and make a pr out of it?

[2018-08-21 05:24] monski opened #158 "Error in chrome incognito mode"
Hi,

Encountered an error when using chrome in private mode.. works fine in normal browsing.

Error. TypeError: Cannot read property 'addNotification' of undefined

[2018-08-24 18:35] evansjohnson commented on #136
I am also looking for something similar although my ideal approach would be to collapse all notifications into a notification carousel container.

If there are arguments against using this pattern I'd be interested in hearing them.

![img_2799](https://user-images.githubusercontent.com/14102129/44601432-77251d00-a7aa-11e8-8a45-1e0b576c1d56.jpg)

[2018-09-14 11:38] adred8 opened #159 "Click actions to display further details in notification"
Is it possible to place a click action on a an element passed in the "children" props to show more details when that button or element is clicked ? I am trying it but could not get it to work.

I want to show the message only when the "Know More" is clicked

[code]

[2018-09-17 22:57] BigPrimeNumbers opened #160 "Props `children` no Longer Renders"
The prop `children` used to work as expected, and would render controls that were passed via it. Now it appears to no longer render anything. This code used to display two buttons at the bottom of the notification:

[code]

[2018-10-15 15:42] OriR commented on #143
I'm having this [problem](https://github.com/igorprado/react-notification-system/issues/143#issuecomment-405971967) as well.

This isn't something that can be fixed with something external to this component.

[Since React might deprecate the use of string as a ref in the coming releases](https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs) this is something that needs to be fixed

[2018-11-11 19:55] cr05s19xx commented on #158
Can you please provide the code to this?

[2018-11-12 18:16] macirex opened #162 "what does componentDidMount do for this component and can it be removed?"
Here's the context:

My team was recently handled down a project which was made on "react": "^16.3.1" and it's using react-notification-system: "^0.2.16". We are currently cleaning the code and applying the eslint linter to fix code smells and bad practices.

Thus we are having a lot of errors of the type:  "Using this.refs is deprecated."

I searched all the issues about this and we know that thi

[2018-11-12 19:19] macirex commented on #162
We managed to make it work. Here's the link: https://codesandbox.io/s/ykznyonwl9

[2019-01-31 18:21] mbaquerizo commented on #148
Would be great to have a center center position implemented...

[2019-02-14 06:05] ssaurabh1 opened #164 "clearNotifications does not really remove all notifications"
When more than 1 notifications are there and we call **clearNotifications()**, it does not really remove the notification but only changes the heights to **0** which actually occupy some space and also blocks a part of screen when number of notifications is large. When **removeNotification()** is called, it simply deletes the notification div which is expected.

[2019-02-15 09:13] kalaivanan-muthusamy opened #165 "Element ref was specified as a string (container-tc)"
App breaking because of react-notification-system

**Piece of code from a functional component:**
[code]
**Some Utility code where actually adding notification**
[code]

**Error:**
Uncaught Invariant Violation: Element ref was specified as a string (container-tc) but no owner was set. This could happen for one of the following reasons:
1. You may be adding a ref to a function component
2. You may

[2019-03-06 01:29] pmaddaloni commented on #160
Appears to have been fixed at some point; it's working as expected now in 0.2.17.

[2019-04-18 12:18] vldmr1986 opened #166 "onRemove doesnt work"
Link with example:
https://codesandbox.io/embed/n7073rzv94
// onRemove doesnt trigger callback

[2019-05-09 19:00] Marc22 opened #167 "Is there a way for one notification to be wider than the others?"
For one modal notification in my app, the buttons have longer names and I need that notification to be wider.  Thanks.

[2019-05-28 07:10] june50232 opened #168 "Function components cannot be given refs."
chrome error shows 'Function components cannot be given refs.'.

[2019-07-18 12:05] eduaugustus opened #169 "Can I do custom notification animation?"
Hi, it's possible do a custom notification animation? I would like to make an animation that makes the notification enter from right to left and exit from left to right

[2019-07-22 19:31] #169 closed

[2019-09-05 16:14] ghostrick opened #170 "iner style"

[2019-09-05 16:15] #170 closed

[2019-09-05 16:16] ghostrick commented on #170
Sorry, mistake.

[2019-10-01 19:53] mateusmoura commented on #166
You need use when add a new notification.

Example:

`
this._notificationSystem.addNotification({
      message: "Notification message",
      level: "success",
      onRemove: () => { console.log('exec something') }
    });
`

[2019-10-04 04:45] koba04 opened #171 "Migrate deprecated lifecycle methods"
@igorprado

Are you still maintaining this repository?

I'm using `react-notification-system` (Thanks!!) and have some issues to continue to use the package.
React deprecates some lifecycle methods(`componentWillMount` and `componentWillUpdate`, and `componentWillReceiveProps`)  and will remove these methods in v17, so we have to migrate the usage.

There are some ways to migrate the usage like th

[2019-11-04 12:47] Indigo744 commented on #171
@igorprado any news?

Than you.

[2019-11-14 22:22] #143 closed

[2019-11-14 22:24] igorprado commented on #171
I'll merge that PR for now and take care of the deprecated methods for now.

[2019-11-14 23:44] #166 closed

[2019-11-15 01:04] igorprado commented on #171
🚀 0.3.0

[2019-11-15 01:04] #171 closed

[2019-11-15 01:05] igorprado commented on #167
Not with the current API

[2019-11-15 01:05] #167 closed

[2019-11-15 01:43] igorprado commented on #165
I just tested the latest version with the latest version of React as well, and I didn't get any errors. Can you set up a project so I can reproduce this?

[2019-11-15 01:43] #158 closed

[2019-11-15 08:24] Indigo744 commented on #171
Thanks @igorprado!

[2019-11-15 14:49] koba04 commented on #171
@igorprado Thank you for your work!!! Great!! 👏

[2019-11-29 15:00] shestakov opened #172 "Support for IE 11"
It pains me to say that the CommonJS code of version 0.3.0 of this great lib is not compatible with IE 11 :(

At least without post-processing code in node_modules.

[2019-12-04 17:27] guirip opened #173 "Support: editNotification sample"
Hello there

Can anyone provide a sample of `editNotification` usage using react and if possible a state container (e.g redux).
I made several tests, the `uid` passed as first argument is correct, then even if I hardcode a dummy value as second argument the displayed notification is not updated. I suppose that the second argument is an object?

**editNotification(notification, newProperties)**

**

[2019-12-04 17:38] guirip commented on #173
Like often, writing a ticket made the issue clearer.

`this.notificationSystem.editNotification(uid, newNotifData)`
- `newNotifData` is generated by calling a function that processes the store action, but this function **also generates a uid**
so... `uid !== newNotifData.uid`

:clinking_glasses:

[2019-12-04 17:38] #173 closed

[2020-01-08 18:25] aaronschwartz opened #176 "Version 0.3.0 broken when trying to set styles={false}"
I recently updated from version 0.2.17 -> 0.3.0 to get rid of the deprecation warnings.

I'm setting the style prop to false to set my own styles:
[code]

Once I updated I'm getting the following exception:
[code]
The actual lines that are throwing the error:
[code]

In previous versions even with style set to false, `this._styles.notification` was populated with (default?) values. In the new vers

[2020-01-10 11:24] zhuangya opened #177 "domain expired :/"

[2020-01-11 20:48] #177 closed

[2020-02-18 17:43] mdodge-ecgrow opened #178 "Add notification inside container"
Is there a way to have the notification popup inside a container div instead of just the entire page? It appears that the custom styles get applied to the notification-message class when I would need them applied to 'notification-tr' to affect the position of the notification itself.  All else fails I can just add custom CSS to my app for '.notification-tr'.

[2020-03-17 11:09] JulienMoreau commented on #176
Same issue here

[2020-05-06 08:32] CyrilQuandalle commented on #176
Same here too

[2020-05-06 19:34] #139 closed

[2020-05-06 19:34] #176 closed

[2020-05-06 19:35] igorprado commented on #176
Fixed in version 🚀 0.4.0

[2020-05-20 15:43] Stathismi opened #179 "Property 'addNotification' does not exist on type 'never'."
I am using react hooks (no classes at all) , I initialise like this
  const notificationSystem = useRef(null);

and wehn i try to do:

const notification = notificationSystem.current;
  notification.addNotification({
    message: 'message......',
    level: 'success
  } ) ;

I get
Property 'addNotification' does not exist on type 'never'.

Any help please?

[2020-05-20 23:39] igorprado commented on #179
That code is not enough to identify where the problem is. Make sure that you are calling `.addNotification` in a valid reference, after the component was rendered. Something like this should work:
[code]

[2020-05-20 23:39] #179 closed, assigned to nobody

[2020-06-15 06:06] MatteoGioioso commented on #68
Same here, it is impossible to style

[2020-06-22 14:40] Coyas commented on #29
I need to use it without class in a function component, how can I do it?

[2020-06-22 14:40] Coyas commented on #29
without need for  a trigger

[2020-08-17 19:13] darrendahl commented on #90
Same here, has this been fixed?

[2020-10-21 15:31] smismailalam opened #180 "Level is not working in editNotification"
Is there a way to have the notification color change in editNotification because level is not working in editNotification
----
here is my code for addNotification which is working fine
notify.addNotification({
        title: "Message Request",
        message: `some message`,
        level: "info",
        dismissible: "button",
        autoDismiss: 60,
       action: null,
});
-----
here is my co

[2020-12-05 12:31] kalaivanan-muthusamy commented on #165
Looks like the issue is fixed. Hence closing

[2020-12-05 12:31] #165 closed

[2020-12-21 09:50] constantin-melniciuc commented on #90
My 2 cents here, indeed using this as a screen wide bar notification, and overriding container with 100%, causes a warning in the notification center. I a simple PR would be just to avoid setting marginLeft when `typeof width === string`.

P.S: In 4 months this ticket issue will be 4 years old! We need a cake and a celebration here 🍰 🎉

[2021-01-11 11:16] ATrogolo opened #181 "Releases tags"
Hi Igor,
for GitHub the latest release of your module is **0.27.17** (as reported in the GitHub project page).
But I see that 2 tags have been created in the past years: **0.3.0** and **0.4.0** (as reported by [npm](https://www.npmjs.com/package/react-notification-system))

Could you please check this?

Thanks,
Andrea

[2021-04-07 10:52] detrash08 opened #182 "library incompatible with React 17"
I've recently updated my project to react 17.0.2 and seems that the library is not compatible.
Are you planning to update compatibility to React 17?

I have react-notification-system updated to verson 0.4.0

[2021-08-18 13:54] chrisgbaker commented on #182
Was also curious about this, as we are looking to move to React 17 in the near future

[2022-01-07 13:49] oleksandrbyk commented on #182
@detrash08 for the workaround, I used 0.2.17 and was able to resolve the issue with React 17

[2022-01-28 16:01] cristian-sima commented on #182
The peer-dep will force you to install 2 React versions. (one for 16 and one for 17)

[2022-01-28 17:27] cristian-sima commented on #182
I tried it and it works. You have to delete the peerDep from `package.json` and also to add this dep `create-react-class`

[2022-04-07 16:30] monecchi commented on #165
Not totally fixed! Using React 17 the warning still arrises annoyingly if `<Notifications />` component is wrapped within `<React.StrictMode>` .

Here's the warning I'm getting:

The issue seems to lie in the following line on **NotificationSystem.jsx** file https://github.com/igorprado/react-notification-system/blob/4954ae9ca3e76367cde619b6e3ca78fad046680c/src/NotificationSystem.jsx#L260

**Confi

[2022-10-29 13:42] Oskku commented on #182
So you delete the perDeep Object ? and this dep where did you add it ? to the package json of the react notification or your entire project packafge.json ? and do you get the problem what i get now , i try to call the fork version, i get a problem said module cannot resolve react redux notification system and redux ? can please write me the step what u did to make it work and how you call the fork

[2022-11-04 13:28] Oskku opened #183 "Steps to make it work with React 17 or 18"
This is what worked for me:
First, change the react version to 17 in your project make npm install --legacy-peer to the project,
then go to node_modules and copy the react-notification-system file out of the node module, for example, I create a file called forked in the root of the project and I drag the copied react notification system inside it, then I go inside the copied react

1. notification